body{
	position: fixed;
	width: 100%;
	height: 100%;
}
.num_box{
	z-index: 900;
}
#num_0{
	z-index: 999;
}
#num_1{
	z-index: 999;
}
#num_2{
	z-index: 999;
}
#num_3{
	z-index: 999;
}
#num_4{
	z-index: 999;
}
#num_5{
	z-index: 910;
}
.caseA{
	z-index: 999;
}
/* 视频 */
#videoStyle{
	width: 100%;
	display: block;
}
.arrow a{
	width: 10px;
	height: 10px;	
}
.m_logo{
	display: block;
	margin: auto;
	margin-top: 20%;
	width: 30%;
	transition: 0.5s;
	left: -100%;
	position: relative;
}
.m_grayFont{
	position: relative;
	color: #807a7a;
	transition: 0.5s;
	left: -100%;
	margin-top: 20px;
	text-align: center;
	display: block;
	font-size: 12.5pt;
	line-height: 40px;
	letter-spacing: 3px;
	font-family: "微软雅黑";
}
.m_redFont{
	position: relative;
	transition: 0.5s;
	left: -100%;
	color: #b61837;
	text-align: center;
	display: block;
	font-size: 17pt;
	line-height: 30px;
	font-family: "微软雅黑";
}	
.m_graySFont{
	transition: 0.5s;
	color: #807a7a;
	text-align: center;
	display: block;
	position: relative;
	font-size: 10pt;
	left: -100%;
	line-height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	font-family: "微软雅黑";
}
/* m  关于我们 */
#play_box{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
}
#about_play{
	z-index: 10;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 10px solid #ce1d31;
	position: absolute;
}
#play{
	display: inline-block;
	border: 40px solid #ce1d31;
	border-color:  transparent transparent transparent #ce1d31;
	margin-left: 47px;
	margin-top: 30px;
}
.about_textBox{
	width: 100%;
	background: #b02537;
	z-index: 999;
	transform: translateY(0%);
}
.textBox{
	width: 90%;
	height: 100%;
	background: #231f21;
	margin: auto;
	border-radius: 10px;
	transform: translateY(-4%);
	z-index: 999;
}	
.ab_img{
	transition: 0.5s;
	display: inline-block;
	margin: auto;
	width: 35%;
	margin-top: 15%;
	margin-bottom: 7%;
	position: relative;
	opacity: 0;
}	
.ab_redFont{
	transition: 0.5s;
	position: static;
	color: #b61837;
	text-align: center;
	display: block;
	font-size: 1em;
	line-height: 30px;
	font-family: "微软雅黑";
	opacity: 0;
}
.ab_p{
	transition: 0.8s;
	opacity: 0;
	position: relative;
	color: #ffffff;
	margin-top: 6%;
	font-size: 0.9em;
	text-align: left;
	font-family: "微软雅黑";
	line-height: 30px;
	padding-left: 6%;
	padding-right: 6%;
}	
.ab_next{
	transition: 0.5s;
	display: inline-block;
	margin: auto;
	position: absolute;
	width: 30px;
	height: 30px;
	bottom: 80px;
	left: 44%;
	-webkit-animation: nextFrames 2s 0s infinite linear;
	animation: nextFrames 2s 0s infinite linear;
}
@keyframes nextFrames{
	from{transform: translateY(50px);opacity: 1;}
	to{transform: translateY(75px);opacity: 0;}
}	
.line1{
	transition: 0.5s;
	opacity: 0;
	display: block;
	width: 100%;
	height: 2px;
	position: absolute;
	background: url(../images/mobile/server_border2.png) repeat-x;
	z-index: 2;
}
.line2{
	opacity: 0;
	transition: 0.5s;
	display: block;
	width: 2px;
	height: 100%;
	position: absolute;
	background: url(../images/mobile/server_border.png) repeat-y;
}
	
.serviceArt{
	transition: 0.5s;
}
.serverLi{
	width: 50% !important;
	height: 33.3%;
	margin-top: 0 !important;
	/*border-width: 1px;
	border-style: solid;*/
	box-sizing: border-box;
	position: relative;
	/*border-image: url(../images/mobile/server_border.png) repeat-y;*/
}
.serverLi a{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.serverLi:nth-of-type(1),.serverLi:nth-of-type(3){
	border-left: none;
	border-top: none;	
}
.serverLi:nth-of-type(2),.serverLi:nth-of-type(4){
	border-top: none;
	border-left: none;
	border-right: none;
}
.serverLi:nth-of-type(5){
	border-top: none;
	border-left: none;
	border-bottom: none;
}
.serverLi:nth-of-type(6){
	border: none;
}	
.serverLi article{
	transform: scale(0);
	transition: 0.5s;
	-webkit-transform: scale(0);
	font-size: 0.5em;
}
	
	
.con_topRed{
	width: 500px;
	height: 500px;
	background: #b02537;
	transform: rotateZ(76deg);
	position: absolute;
	top: -100px;
	/*-1000*/
	transition: 0.5s;
	left: -100px;
	z-index: 0;
}
.con_code{
	z-index: 1;
	width: 40%;
	transition: 0.5s;
	position: absolute;
	top: -50%;
	/*13%*/
	left: 30%;
}
.con_font1{
	color: #686465;
	width: 100%;
	transition: 0.5s;
	font-size: 1em;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: -50%;
	/* 38% */
	z-index: 3;
}	
.con_logo{
	display: block;
	width: 	110px;
	transition: 0.5s;
	top: 50%;
	left: -50%;
	/* 36% */
	z-index: 3;
	transition: 0.5s;
	position: absolute;
}	
#tel{
	opacity: 0 !important;
	z-index: 4;
	color: #3a3536;
	font-size: 16px;
	text-align: center;
	position: absolute;
	bottom: 32%;
	width: 100%;
}
#tel b{
	font-size: 29px;
	color: #b02537;
	font-weight: normal;
}

.con_font2{
	color: #3a3536;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	left:0%;
	transition: 0.5s;
	top: 61%;
	width: 100%;
	z-index: 3;
}
.con_font2 b{
	font-size: 2em;
	color: #b02537;
	font-weight: normal;
}
.con_font2 b a{
	color: #b02537;
}



.con_font3{
	left:-100%;
	transition: 0.5s;
	color: #3a3536;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	top: 71%;
	width: 100%;
	z-index: 3;
}
.con_font4{
	left:-100%;
	color: #3a3536;
	font-size: 0.8em;
	text-align: center;
	position: absolute;
	top: 75%;
	width: 100%;
	z-index: 3;
	transition: 0.5s;
}	
.con_font4 label{
	opacity: 0;
}
.con_bottom{
	display: block;
	width: 30%;
	border-radius: 30px;
	transition: 0.5s;
	height: 40px;
	line-height: 40px;
	color: #b02537;
	text-align: center;
	font-size: 0.5em;
	position: absolute;
	bottom: 7%;
	left: -100%;
	/* 35% */
	border: 1px solid #b02537;
	letter-spacing: 3px;
}
.con_bottom img{
	display: inline-block;
	width: 15px;
	margin-right: 10px;
}
.con_moBox{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	background: rgba(0,0,0,0.5);
	display: none;
}
#moveBox{
	width: 80%;
	position: absolute;
	left: 10%;
	height: 65%;
	top: -100%;
	transition: 0.5s;
	background: #ffffff;
}
#moveBox>span{
	display: block;
	width: 100%;
	height: 50px;
}
#moveBox>span img{
	float: right;
	height: 30px;
	margin: 10px 10px 0 0;
}
.con_moBox>div>p{
	width: 100%;
	text-align: center;
	font-family: "微软雅黑";
	line-height: 30px;
}
#moveBox>p:nth-of-type(1){
	color: #b02737;
	font-size: 1.1em;
}
#moveBox>p:nth-of-type(2){
	color: #100e10;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 20px;
}
.con_moBox form div{
	width: 90%;
	height: 50px;
	box-sizing: border-box;
	margin: auto;
	border-bottom: 1px solid #dcdad9;
}
.con_moBox form div img{
	display: inline-block;
	width: 30px;
	float: left;
	margin-top: 10px;
}
.con_moBox form div input{
	display: inline-block;
	border: none;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	float: left;
	width: 80%;
	line-height: 49px;
	font-size: 0.8em;
	color: black;
	text-indent: 20px;
	font-family: "微软雅黑";
}
.con_moBox form div:nth-of-type(3){
	height: 130px;
}
.con_moBox form div textarea{
	box-sizing: border-box;
	width: 80%;
	outline: none;
	border: none;
	resize: none;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	box-sizing: border-box;
	height: 120px;
	line-height: 20px;
	font-size: 0.8em;
	font-family: "微软雅黑";
}
.moBDiv{
	width: 100% !important;
	height: 80px;
	background: #f8f6f7;
	position: absolute;
	bottom: 0;
	left: 0;
}

.moBDiv div{
	width: 90%;
	height: 50px;
	line-height: 50px;
	position: absolute;
	left: 5%;
	margin-top: 0 !important;
	top: 15px;
	background: #ba2b31;
	font-size: 0.8em;
	text-align: center;
}
.moBDiv div img{
	float: none !important;
	width: 30px;
	height: 30px;
	margin-top: 0 !important;
	margin-right: 15px;
}







#num_4{
	text-align: center;
}
.caseOutDiv{
	display: inline-block;
	position: relative;
	margin: auto;
	width: auto;
	margin-top: 25%;
}

.caseDiv{
	width: 45px;
	height: 65px;
	background: #dcdad9;
	position: relative;
	left: 30%;
	background: #FFFFFF;
	transition: 0.5s;
	opacity: 0;
}
.caseDiv span{
	display: block;
	position: absolute;
}
.caseDiv span:nth-of-type(1){
	border-top: 33px solid transparent;
	border-bottom: 32px solid transparent;
	border-right: 18px solid #ffffff;
	left: -18px;
}
.caseDiv span:nth-of-type(2){
	border-top: 33px solid transparent;
	border-bottom: 32px solid transparent;
	border-left: 18px solid #ffffff;
	right: -18px;
}


.caseA{
	display: block;
	width: 100%;
	height: 100%;
}
.caseImg{
	display: block;
	width: 100%;
	transform: translateY(10px);
}
.caseDiv:nth-of-type(2),.caseDiv:nth-of-type(5),.caseDiv:nth-of-type(8),.caseDiv:nth-of-type(11),.caseDiv:nth-of-type(14){
	margin-left: -66px;
	margin-top: -31px;
}
.caseDiv:nth-of-type(3),.caseDiv:nth-of-type(6),.caseDiv:nth-of-type(9),.caseDiv:nth-of-type(12),.caseDiv:nth-of-type(15){
	margin-left: 66px;
	margin-top: -66px;
}
.caseDiv:nth-of-type(4),.caseDiv:nth-of-type(7),.caseDiv:nth-of-type(10),.caseDiv:nth-of-type(13),.caseDiv:nth-of-type(16){
	margin-top: -30px;
}

.caseDiv:nth-of-type(3){
	background: #595b77 !important;
}
.caseDiv:nth-of-type(3) span:nth-of-type(1){
	border-right-color: #595b77 !important;
}
.caseDiv:nth-of-type(3) span:nth-of-type(2){
	border-left-color: #595b77 !important;
}

.caseDiv:nth-of-type(7){
	background: #be3444 !important;
}
.caseDiv:nth-of-type(7) span:nth-of-type(1){
	border-right-color: #be3444 !important;
}
.caseDiv:nth-of-type(7) span:nth-of-type(2){
	border-left-color: #be3444 !important;
}

.caseDiv:nth-of-type(9){
	background: #584a3a !important;
}
.caseDiv:nth-of-type(9) span:nth-of-type(1){
	border-right-color: #584a3a !important;
}
.caseDiv:nth-of-type(9) span:nth-of-type(2){
	border-left-color: #584a3a !important;
}

.caseDiv:nth-of-type(11){
	background: #e0dddb !important;
}
.caseDiv:nth-of-type(11) span:nth-of-type(1){
	border-right-color: #e0dddb !important;
}
.caseDiv:nth-of-type(11) span:nth-of-type(2){
	border-left-color: #e0dddb !important;
}

.caseDiv:nth-of-type(12){
	background: #3a365b !important;
}
.caseDiv:nth-of-type(12) span:nth-of-type(1){
	border-right-color: #3a365b !important;
}
.caseDiv:nth-of-type(12) span:nth-of-type(2){
	border-left-color: #3a365b !important;
}




.serTopBox{
	width: 100%;
	height: 75%;
	position: relative;
}
.serBottomBox{
	width: 100%;
	height: 25%;
	position: relative;
}
.serBottomBox>img{
	position: absolute;
	display: block;
	top: 44%;
	width: 4%;
}
.serBottomBox>img:nth-of-type(1){
	left: 4%;
}
.serBottomBox>img:nth-of-type(2){
	right: 4%;
}
.serBoutBox{
	width: 80%;
	height: 100%;
	margin: auto;
	overflow: hidden;
	position: relative;
}
.serBInBox{
	width: 500%;
	height: 100%;
	transition: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
}
.inBox{
	width: 80px;
	height: 100%;
	float: left;
	padding: 20px 10px;
	box-sizing: border-box;
}
.inBoxImg{
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 55%;
	position: relative;
	transition: 0.2s;
	top: 0;
}
.inBoxP{
	line-height: 28px;
	font-size: 1em;
	color: #6e6666;
}
.activeSerFont{
	color: #9b1f2f;
}
.topBox{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	transition: 0.5s;
	transform: scale(1);
}
.topBox:nth-of-type(1){
	display: block;
	z-index: 1;
}
.serMoveBox{
	position: absolute;
	transition: 0.5s;
	top: 0;
	left: 0;
	height: 100%;
}
.tBannerBox{
	height: 100%;
	float: left;
	position: relative;
	top:0;
	transition: 0.5s;
}
#slider{
	width: 100%;
	height: 100%;
}
.mui-slider-group{
	height: 100%;
}
.tBannerTopImg{
	/*position: absolute;*/
	/*width: 40%;*/
	/*left: 30%;*/
	/*top: 10%;*/
	margin-top: 12%;
	transition: 0.3s;
	transform: scale(1);
}

.tBannerMidImg{
	transition: 0.3s;
	transform: scale(1);
	position: absolute;
	/*width: 90%;*/
	/*left: 5%;*/
	top: 32%;
}
.bannerRound{
	height: 10px;
	line-height: 10px;
	text-align: center;
	position: absolute;
	bottom: 10px;
	transition: 0.5s;
}
.round{
	display: inline-block;
	width: 10px;
	height: 10px;
	box-sizing: border-box;
	border: 1px solid #cfcbca;
	margin: 0px 4px;
	border-radius: 50%;
}
.mui-indicator{
	display: inline-block;
	width: 10px !important;
	height: 10px !important;
	box-sizing: border-box;
	border: 1px solid #cfcbca;
	margin: 0px 4px !important;
	border-radius: 50%;
	box-shadow: none !important;
	background: none !important;
}

.mui-indicator.mui-active{
	background: #b02537 !important;
	box-shadow: none !important;
	display: inline-block;
	width: 10px;
	height: 10px;
	box-sizing: border-box;
	border: none;
	margin: 0px 4px;
	border-radius: 50%;
}
.roundActive{
	border: none;
	background: #b02537;
}


.Ilogo{
	transform: translateX(70px);
}
.indexHeader nav{
	transform: translateX(70px);	
}


/* 首页  */
.banner ul{
	width:300%;
	transform:translateX(0px);
	transition:0.5s;
}
#banner ul li{
	width: 100%;
	float:left;
	position:relative;
	overflow: hidden;
}
